{{#each posts as |post|}}
    <section class="card post-display" data-post_id={{id}}>
        <a href="/posts/{{post.id}}">
            <div class="level">
                <div class="level-left">
                    <header>{{post.title}}</header>
                </div>
                <div class="level-right">
                    <p>Posted on {{format_date date_created}}</p>
                </div>
            </div>
        </a>
        <div class="ml-2">
            <button class="button is-info is-small" type="submit" id="delete-btn-{{id}}">Delete Post</button>
            <a href="/edit/{{post.id}}" class="button is-info is-small" id="edit-btn">Edit Post</a>
        </div>
    </section>
{{/each}}

<script src="/js/delete.js"></script>