<section class="card edit-post-section" data-post_id={{id}}>
    <div class="level">
        <div class="level-left">
            <header class="is-size-3 has-text-weight-medium edit-title" data-post_title={{title}}>Editing Post: {{title}}</header>
        </div>
        <div class="level-right">
            <p class="is-italic">Posted by {{user.username}} on {{format_date date_created}}</p>
        </div>
    </div>
    <form class="edit-post">
        <textarea class="post-description textarea is-normal" id="update-input" name="edit-post-description">{{description}}</textarea>
        <button type="submit" class="button is-info" id="edit-btn">Save Changes</button>
    </form>
</section>

<script src="/js/edit.js"></script>